/* ... */
/* Your other styles */

/* Back4App Guide Styles */
/* 
html {
  box-sizing: border-box;
  outline: none;
  overflow: auto;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  margin: 0;
  background-color: #fff;
}
.container_app {
  width: 100%;
  height: 100vh;
}
.container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px 0;
}
.wrapper {
  width: "90%";
  align-self: "center";
}
.header {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: end;

  padding: 25px 0;

  background-color: #000;
}
.header p {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.header_logo {
  height: 75px;
}

.header_text_bold {
  margin-bottom: 3px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: bold;
}

.header_text {
  color: rgba(255, 255, 255, 0.9);
  font-size: 15px;
}

.flex_row {
  display: flex;
}

.flex_between {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.list_heading {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.new_todo_wrapper {
  margin-top: 20px;
  margin-bottom: 10px;
}

.new_todo_wrapper > input {
  margin-right: 20px;
}

.todo_item {
  border-bottom-width: 1;
  border-bottom-color: "rgba(0, 0, 0, 0.12)";
}

.todo_text {
  font-size: 18px;
  letter-spacing: 2px;
}

.todo_text_done {
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  text-decoration-line: line-through;
}

.todo_button {
  width: 32px;
  height: 32px;
  margin-left: 5px;
  background-color: transparent;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.todo_button:hover,
.todo_button:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.todo_button_icon_done {
  color: #52c41a;
  font-size: 16px;
}

.todo_button_icon_remove {
  color: #f5222d;
  font-size: 16px;
} */

@media (min-width: 375px) {
  html {
    box-sizing: border-box;
    outline: none;
    overflow: auto;
  }

  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  body {
    margin: 0;
    background-color: #fff;
  }
  .container_app {
    width: 100%;
    height: 100vh;
  }
  .container {
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 20px 0;
  }
  .wrapper {
    width: "90%";
    align-self: "center";
  }
  .header {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;

    background-color: #000;
  }
  .header p {
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  .header_logo {
    height: 45px;
  }
  .header_text_bold {
    margin-bottom: 3px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    font-weight: bold;
  }
  .flex_between {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
  }
  .list_heading {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
  }
  .new_todo_wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .new_todo_wrapper > input {
    margin-right: 20px;
    font-size: 14px;
  }
  .todo_item {
    border-bottom-width: 1;
    border-bottom-color: "rgba(0, 0, 0, 0.12)";
  }
  .todo_text {
    font-size: 14px;
    letter-spacing: 2px;
  }
  .todo_text_done {
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    text-decoration-line: line-through;
  }
  .todo_button {
    width: 22px;
    height: 22px;
    margin-left: 5px;
    background-color: transparent;
    border-radius: 50px;
    border: none;
    cursor: pointer;
  }
  .todo_button:hover,
  .todo_button:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .todo_button_icon_done {
    color: #52c41a;
    font-size: 14px;
  }

  .todo_button_icon_remove {
    color: #f5222d;
    font-size: 14px;
  }
}
@media (min-width: 1080px) {
  html {
    box-sizing: border-box;
    outline: none;
    overflow: auto;
  }
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  p {
    margin: 0;
  }
  body {
    margin: 0;
    background-color: #fff;
  }
  .container_app {
    width: 100%;
    height: 100vh;
  }
  .container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px 0;
  }
  .wrapper {
    width: "90%";
    align-self: "center";
  }
  .header {
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: end;

    padding: 25px 0;

    background-color: #000;
  }
  .header p {
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  .header_logo {
    height: 65px;
  }
  .header_text_bold {
    margin-bottom: 3px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-weight: bold;
  }
  .flex_row {
    display: flex;
  }
  .flex_between {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .list_heading {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .new_todo_wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .new_todo_wrapper > input {
    width: 100%;
    margin-right: 20px;
  }
  .todo_item {
    border-bottom-width: 1;
    border-bottom-color: "rgba(0, 0, 0, 0.12)";
  }
  .todo_text {
    font-size: 18px;
    letter-spacing: 2px;
  }
  .todo_text_done {
    color: rgba(0, 0, 0, 0.3);
    font-size: 18px;
    text-decoration-line: line-through;
  }
  .todo_button {
    width: 32px;
    height: 32px;
    margin-left: 5px;
    background-color: transparent;
    border-radius: 50px;
    border: none;
    cursor: pointer;
  }
  .todo_button:hover,
  .todo_button:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .todo_button_icon_done {
    color: #52c41a;
    font-size: 16px;
  }
  .todo_button_icon_remove {
    color: #f5222d;
    font-size: 16px;
  }
}
